<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<title>Notíciaa</title>
</head>
<body>
	<h1>Notícias</h1>
	<table>
		<tr>
			<td>ID</td>
			<td>Titulo</td>
			<td>Noticia</td>
		</tr>
		<!-- Tudo que está dentro do <% %> será interpretado pelo JS-->
		<tr>
			<td><%= noticia[0].id_noticias %></td>
			<td><%= noticia[0].titulo %></td>
			<td><%= noticia[0].noticia %></td>
		</tr>
	</table>
</body>
</html>